<main class="container mx-auto flex sm:flex mb-16">
  <section class="p-5 bg-gray-custom w-1/3 sm:w-1/3 md:w-1/3 mx-auto">
    <span class="xl:text-3xl lg:text-xl md:text-base text-sm"
      ><strong>
        Auriculares Gamer HyperX Cloud Stinger Core 40mm 3.5mm</strong
      ></span
    ><br />
    <span class="xl:text-3xl lg:text-xl md:text-base text-sm">S/. 319.90</span
    ><span
      class="xl:text-xl lg:text-base md:text-base sm:text-sm text-xs text-red-600 ml-2 line-through"
      >S/. 319.90</span
    >
    <div class="text-xs sm:text-sm md:text-base lg:text-xl">
      <p>*No incluye envío</p>
      <p>*Incluye IGV</p>
    </div>

    <div
      class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
    >
      <button
        class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
      >
        AÑADIR <i class="fa-sharp fa-solid fa-bag-shopping"></i>
      </button>
      <button
        class="bg-red-600 px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-red-400"
      >
        COMPRAR <i class="fa-sharp fa-solid fa-cart-shopping"></i>
      </button>
    </div>

    <img
      class="mx-auto w-1/2"
      src="../../../../assets/images/hyperx-logo.png"
      alt=""
    />
    <div class="text-[8px] sm:text-[10] md:text-xs lg:text-sm xl:text-base">
      <p><strong>Descripción </strong></p>
      <span>Altavoces</span><br />
      <span>Diámetro de altavoz 60mm</span><br />
      <span>Iman: Neodimio</span><br />
      <span>Estructura: Cerrada</span><br />
      <span>Respuesta en frecuencia: 5 Hz a 35 kHz</span><br />
      <span>Impedancia nominal: 40 ohmios ± 6 ohmios</span><br />
      <span>Sencibilidad(SPL): 98 dB ± 3 dB a 1 kHz</span><br />
      <span>THD < 1% a 1kHz</span><br />
      <span>Potencia de alimentación: 15 a 150 mW</span><br />
      <span>Aislamiento aústico pasivo: 24 Db</span><br /><br />
      <span><strong>Micrófono</strong> </span><br />
      <span>Diámetro de capsula: 6 mm</span><br />
      <span>Transductor: Condensador de electreto</span><br />
      <span>Patrón polar: Super cardiode</span><br />
      <span>Respuesta de frecuencia: 40 Hz a 25 kHz</span><br />
      <span>Impedancia niminal: < = 2.0 k ohmios </span><br />
      <span>Sensibilidad(SPL): -48 dB ± 3 dB a 1 kHz</span><br />
      <span>THD < 1% a 1kHz</span><br />
      <span>Sistema: Gradiente biométrico.</span><br />
      <span>Máximo nivel de presión sonora. 105 dB</span>
    </div>
  </section>
  <section class="w-2/3">
    <article class="flex sm:w-full md:w-full w-full">
      <div class="w-full sm:w-4/5 md:w-4/5">
        <div class="relative">
          <div class="w-4/5 mt-6 ms-6 absolute top-1 left-6">
            <ul class="flex lg:text-2xl md:text-xl sm:text-base text-sm">
              <li class="mx-1">
                <i
                  class="fa-sharp fa-regular fa-circle"
                  style="color: #9c9c9c"
                ></i>
              </li>
              <li class="mx-1">
                <i
                  class="fa-sharp fa-solid fa-circle"
                  style="color: #ff0000"
                ></i>
              </li>
              <li class="mx-1">
                <i
                  class="fa-sharp fa-solid fa-circle"
                  style="color: #000000"
                ></i>
              </li>
              <li class="mx-1">
                <i
                  class="fa-sharp fa-solid fa-circle"
                  style="color: #5392d5"
                ></i>
              </li>
            </ul>
          </div>
          <div class="absolute top-1 right-0 w-1/5 mt-6 text-2xl">
            <i class="fa-regular fa-heart"></i>
          </div>
          <div class="w-4/4 md:w-full lg:w-4/4 xl:w-4/4">
            <img
              class=""
              src="../../../../assets/images/audifonos_1.png"
              alt=""
            />
          </div>

          <div class="flex absolute bottom-3 right-16">
            <input
              type="radio"
              id="star5"
              name="rating"
              value="5"
              class="hidden"
            />
            <label for="star5" class="star"></label>
            <input
              type="radio"
              id="star4"
              name="rating"
              value="4"
              class="hidden"
            />
            <label for="star4" class="star"></label>
            <input
              type="radio"
              id="star3"
              name="rating"
              value="3"
              class="hidden"
            />
            <label for="star3" class="star"></label>
            <input
              type="radio"
              id="star2"
              name="rating"
              value="2"
              class="hidden"
            />
            <label for="star2" class="star"></label>
            <input
              type="radio"
              id="star1"
              name="rating"
              value="1"
              class="hidden"
            />
            <label for="star1" class="star"></label>
          </div>
        </div>
      </div>
      <div class="w-1/6 sm:flex-row row-reverse">
        <div
          class="w-6/6 mx-auto bg-gray-custom mt-4 rounded-lg hover:border-solid shadow-lg hover:border-2 hover:border-light-blue-custom hover:cursor-pointer hover:rounded-lg hover:bg-light-blue-custom hover:shadow-light-blue-custom"
        >
          <img
            class="w-6/6 mx-auto"
            src="../../../../assets/images/audifonos_1.png"
            alt=""
          />
        </div>

        <div
          class="w-6/6 h-auto mx-auto bg-gray-custom mt-4 rounded-lg shadow-lg hover:border-solid hover:border-2 hover:border-light-blue-custom hover:cursor-pointer hover:rounded-lg hover:bg-light-blue-custom hover:shadow-light-blue-custom"
        >
          <img
            class="w-6/6 mx-auto"
            src="../../../../assets/images/audifonos_1.png"
            alt=""
          />
        </div>

        <div
          class="w-6/6 mx-auto bg-gray-custom mt-4 rounded-lg shadow-lg hover:border-solid hover:border-2 hover:border-light-blue-custom hover:cursor-pointer hover:rounded-lg hover:bg-light-blue-custom hover:shadow-light-blue-custom"
        >
          <img
            class="w-6/6 mx-auto"
            src="../../../../assets/images/audifonos_1.png"
            alt=""
          />
        </div>
        <div
          class="w-6/6 mx-auto bg-gray-custom mt-4 rounded-lg shadow-lg hover:border-solid hover:border-2 hover:border-light-blue-custom hover:cursor-pointer hover:rounded-lg hover:bg-light-blue-custom hover:shadow-light-blue-custom"
        >
          <img
            class="w-6/6 mx-auto"
            src="../../../../assets/images/audifonos_1.png"
            alt=""
          />
          <p class="text-center text-[10px] sm:text-xs md:text-sm lg:text-base">
            <strong>PREVIEW</strong>
          </p>
        </div>
        <div
          class="w-6/6 bg-gray-custom mx-auto mt-4 text-center text-[10px] sm:text-xs md:text-sm lg:text-base rounded-lg p-2 cursor-pointer shadow-lg shadow-gray-400 hover:shadow-gray-800 hover:bg-gray-200"
        >
          <button>BOTON</button>
        </div>
      </div>
    </article>
    <p class="ms-6 mb-6 mt-12 text-xs sm:text-sm md:text-base xl:text-xl">
      <strong>Tambien te puede interesar</strong>
    </p>
    <article class="columns-3 ms-1">
      <div
        class="bg-gray-custom xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
      >
        <span>
          <img
            class="w-3/5 mx-auto"
            src="../../../../assets/images/mouse.png"
            alt="mause"
          />
        </span>
        <div
          class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
        >
          <p><strong>MAUSE GAMER CORSAIR</strong></p>
          <P>IRONCLAW RGB USB 18K DPI</P>
          <div class="font-bold">
            <span class="mr-2">S/. 79.90</span>
          </div>
        </div>

        <div
          class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
        >
          <button
            class="bg-light-blue-custom px-5 ml-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
          >
            <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
          </button>
        </div>
      </div>
      <div
        class="bg-gray-custom xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
      >
        <span>
          <img
            class="w-3/5 mx-auto"
            src="../../../../assets/images/mouse.png"
            alt="mause"
          />
        </span>
        <div
          class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
        >
          <p><strong>MAUSE GAMER CORSAIR</strong></p>
          <P>IRONCLAW RGB USB 18K DPI</P>
          <div class="font-bold">
            <span class="mr-2">S/. 79.90</span>
          </div>
        </div>

        <div
          class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
        >
          <button
            class="bg-light-blue-custom px-5 ml-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
          >
            <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
          </button>
        </div>
      </div>
      <div
        class="bg-gray-custom xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
      >
        <span>
          <img
            class="w-3/5 mx-auto"
            src="../../../../assets/images/mouse.png"
            alt="mause"
          />
        </span>
        <div
          class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
        >
          <p><strong>MAUSE GAMER CORSAIR</strong></p>
          <P>IRONCLAW RGB USB 18K DPI</P>
          <div class="font-bold">
            <span class="mr-2">S/. 79.90</span>
          </div>
        </div>

        <div
          class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
        >
          <button
            class="bg-light-blue-custom px-5 ml-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
          >
            <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
          </button>
        </div>
      </div>
    </article>
  </section>
</main>
