<footer class="bg-[#095D9C] text-white p-4">
  <div class="flex xl:text-xl lg:text-sm sm:text-xs text-[10px]">
    <article class="basis-3/12 px-6">
      <div class="">
        <img
          class="xl:w-60 lg:w-54 md:w-50 sm:w-44 w-36"
          src="../../../../assets/images/logo.webp"
          alt=""
        />
        <span
          ><p>
            Ofrecemos ofertas únicas en <br />
            computadoras, impresoras, <br />
            laptos, notebooks, monitores, <br />
            servidores, periféricos <br />
            accesorios, software <br />
            y la especializada zona gamer
          </p>
        </span>
      </div>
    </article>
    <article class="basis-3/12">
      <div>
        <p>
          <strong class="xl:text-2xl lg:text-xl sm:text-base text-sm"
            >Categorías</strong
          ><br /><br />
          Componentes<br /><br />
          Zona Gamer<br /><br />
          Laptos <br /><br />
          Zona Gamer
        </p>
      </div>
    </article>
    <article class="basis-3/12">
      <div>
        <p>
          <strong class="xl:text-2xl lg:text-xl sm:text-base text-sm"
            >Términos</strong
          >
          <br />
          <br />Politica de envío <br /><br />
          Politica de garantá <br /><br />
          Politica de devolucones <br /><br />
          Terminos y condiciones
        </p>
      </div>
    </article>
    <article class="basis-3/12">
      <div>
        <p>
          <strong class="xl:text-2xl lg:text-xl sm:text-base text-sm"
            >Contactos</strong
          >
          <br />
          <br />
          <span class=""
            ><i class="fa-solid fa-phone"></i> +51 987 654 321</span
          >
          <br /><br />
          <span class=""
            ><a href="#"><i class="fa-solid fa-envelope"></i></a>
            contacto@etereo.com</span
          >
          <br />
          <br />
        </p>
        <span
          ><a href="#"><i class="fa-brands fa-facebook pe-4"></i></a>
        </span>
        <span
          ><a href="#"><i class="fa-brands fa-instagram pe-4"></i></a>
        </span>
        <span
          ><a href="#"><i class="fa-brands fa-tiktok"></i></a
        ></span>
      </div>
    </article>
  </div>
</footer>
