<footer class="bg-[#095D9C] text-white p-4">
  <div class="flex">
    <article class="w-30">
      <img
        class="md:w-60 sm:w-36"
        src="../../../../assets/images/logo.webp"
        alt=""
      />
      <span
        ><p class="md:text-base sm:text-sm">
          Ofrecemos ofertas únicas en computadoras, impresoras, laptos,
          notebooks, monitores, servidores, periféricos accesorios, software y
          la especializada zona gamer
        </p>
      </span>
    </article>
    <article class="w-1/5">
      <p class="md:text-base sm:text-sm">
        <strong class="md:text-3xl sm:text-xl">Categorías</strong><br /><br />
        Componentes<br />
        Zona Gamer<br />
        Laptos <br />
        Zona Gamer
      </p>
    </article>
    <article class="w-1/5">
      <p class="md:text-base sm:text-sm">
        <strong class="md:text-3xl sm:text-xl">Términos</strong>
        <br />
        <br />Politica de envío <br />
        Politica de garantá <br />
        Politica de devolucones <br />
        Terminos y condiciones
      </p>
    </article>
    <article class="w-30">
      <p>
        <strong class="md:text-3xl sm:text-xl">Contactos</strong>
        <br />
        <br />
        <span class="md:text-base sm:text-sm"
          ><i class="fa-solid fa-phone md:text-3xl sm:text-xl me-3"></i> +51 987
          654 321</span
        >
        <br /><br />
        <span class="md:text-base sm:text-sm"
          ><a href="#"
            ><i class="fa-solid fa-envelope md:text-3xl sm:text-xl me-3"></i
          ></a>
          contacto@etereo.com</span
        >
        <br />
        <br />
      </p>
      <span
        ><a href="#"
          ><i class="fa-brands fa-facebook pe-4 md:text-3xl sm:text-xl"></i
        ></a>
      </span>
      <span
        ><a href="#"
          ><i class="fa-brands fa-instagram pe-4 md:text-3xl sm:text-xl"></i
        ></a>
      </span>
      <span
        ><a href="#"
          ><i class="fa-brands fa-tiktok md:text-3xl sm:text-xl"></i></a
      ></span>
    </article>
  </div>
</footer>
