<footer class="bg-black text-white flex justify-evenly p-8">
  <article class="">
    <img class="w-60" src="../../../../assets/images/logo.webp" alt="" />
    <span
      ><p class="e">
        Ofrecemos ofertas únicas en <br />
        computadoras, impresoras, <br />
        laptos, notebooks, monitores, <br />
        servidores, periféricos <br />
        accesorios, software <br />
        y la especializada zona gamer
      </p>
    </span>
  </article>
  <article>
    <p>
      <strong class="text-3xl">Categorías</strong><br /><br />
      Componentes<br /><br />
      Zona Gamer<br /><br />
      Laptos <br /><br />
      Zona Gamer
    </p>
  </article>
  <article>
    <p>
      <strong class="text-3xl">Términos</strong>
      <br />
      <br />Politica de envío <br /><br />
      Politica de garantá <br /><br />
      Politica de devolucones <br /><br />
      Terminos y condiciones
    </p>
  </article>
  <article>
    <p>
      <strong class="text-3xl">Contactos</strong>
      <br />
      <br />
      <span
        ><i class="fa-solid fa-phone text-3xl me-3"></i> +51 987 654 321</span
      >
      <br /><br />
      <span
        ><i class="fa-solid fa-envelope text-3xl me-3"></i>
        contacto@etereo.com</span
      >
      <br />
      <br />
    </p>
    <span><i class="fa-brands fa-facebook pe-4 text-3xl"></i></span>
    <span><i class="fa-brands fa-instagram pe-4 text-3xl"></i></span>
    <span><i class="fa-brands fa-tiktok text-3xl"></i></span>
  </article>
</footer>
