<!-- +++++++++filtros++++++++++ -->

<section class="w-12/12 flex">
  <article class="w-5/12 ps-10 pt-4 font-medium">
    <p class="text-xl"><strong>Filtros</strong></p>
    <ul class="ps-6">
      <li>
        <span class="text-[#095D9C]">
          <input class="" type="checkbox" /> Corsair</span
        >
      </li>
      <li>
        <span class="text-[#095D9C]">
          <input class="" type="checkbox" /> Cable USB</span
        >
      </li>
    </ul>
    <p class="text-base mt-6">Marcas</p>
    <ul class="ps-6">
      <li>
        <span class=""> <input class="" type="checkbox" /> Logitech - G</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Micronics</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <p class="text-base mt-6">Interfaz</p>
    <ul class="ps-6">
      <li>
        <span class=""> <input class="" type="checkbox" /> Bluetooht</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Cable USB</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Cable USB C</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <p class="text-base mt-6">Iluminación</p>
    <ul class="ps-6">
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <p class="text-base mt-6">Precio</p>
  </article>

  <!-- +++++++++ barra    ++++++++++ -->
  <article class="10/12">
    <div class="bg-gray-custom w-full h-auto">
      <ul class="flex text-xl">
        <li class="ms-6"><a href="#">Inicio</a> |</li>
        <li class="ms-6"><a href="#">Zona Gamer</a> |</li>
        <li class="ms-6"><a href="#">Mause</a></li>
      </ul>
    </div>

    <!-- ++++++++++   card  +++++++++++++ -->
    <div class="flex">
      <div class="pt-6 pb-12">
        <div class="pb-6">
          <span class="me-12 mb-4">Ordenar por</span
          ><i class="fa-solid fa-arrow-up-arrow-down"></i>
          <span class="me-12 mb-4"> Precio de menor a mayor</span>
          <span class="mb-4"> Mostrando 1 - 24 24 por pagina</span>
        </div>

        <div class="w-12/12 flex justify-between pb-4">
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span class="text-red-600"><strong>s/. 79.90</strong></span
              ><span class="line-through">s/.99.90</span><br />

              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-12/12 flex justify-between pb-4">
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />

              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-12/12 flex justify-between">
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />

              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 text-sm relative">
            <div
              class="group md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
            >
              <span class="text-2xl absolute top-3 right-16"
                ><i
                  class="fa-sharp fa-solid fa-heart text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i
              ></span>
              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <span><strong>s/. 79.90</strong></span
              ><br />
              <div>
                <button
                  class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                  AÑADIR
                </button>
                <button
                  class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ++++++++barra lateral+++++++++ -->
      <aside class="ps-6 bg-[#4A5D6B] pt-6">
        <p class="text-2xl text-white text-center">Productos sugeridos</p>
        <div class="w-11/12 text-sm relative pb-6 mt-4">
          <div
            class="group border-2 border-slate-600 md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-900"
          >
            <span class="text-2xl absolute top-3 right-16"
              ><i
                class="fa-sharp fa-solid fa-heart text-white hover:text-red-500 group-hover:text-red-500"
              ></i
            ></span>
            <img
              class="w-3/5 mx-auto"
              src="../../../../assets/images/mouse.png"
              alt="mause"
            />
            <p><strong>MAUSE GAMER CORSAIR</strong></p>
            <P>IRONCLAW RGB USB 18K DPI</P>
            <span><strong>s/. 79.90</strong></span
            ><br />
            <div>
              <button
                class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
              >
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                AÑADIR
              </button>
              <button
                class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                COMPRAR
              </button>
            </div>
          </div>
        </div>
        <div class="w-11/12 text-sm relative">
          <div
            class="group border-2 border-slate-600 md:w-4/5 sm:w-1/3 mx-auto rounded-xl text-center pb-4 hover:shadow-lg hover:shadow-gray-800"
          >
            <span class="text-2xl absolute top-3 right-16"
              ><i
                class="fa-sharp fa-solid fa-heart text-white hover:text-red-500 group-hover:text-red-500"
              ></i
            ></span>
            <img
              class="w-3/5 mx-auto"
              src="../../../../assets/images/mouse.png"
              alt="mause"
            />
            <p><strong>MAUSE GAMER CORSAIR</strong></p>
            <P>IRONCLAW RGB USB 18K DPI</P>
            <span><strong>s/. 79.90</strong></span
            ><br />
            <div>
              <button
                class="rounded-lg bg-light-blue-custom px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500 mr-6"
              >
                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                AÑADIR
              </button>
              <button
                class="rounded-lg bg-black px-4 py-1 text-white font-semibold mt-2 hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                COMPRAR
              </button>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </article>
</section>
