<!-- +++++++++filtros++++++++++ -->

<section class="md:w-12/12 w-full flex">
  <article
    class="md:w-5/12 pt-4 font-medium sm:w-full w-full 2xl:text-xl xl:text-base lg:text-sm md:text-xs sm:text-[10px] text-[8px]"
  >
    <ul class="ps-6">
      <p class="md:text-xl sm:text-base text-sm"><strong>Filtros</strong></p>
      <li>
        <span class="text-[#095D9C]">
          <input class="" type="checkbox" /> Corsair</span
        >
      </li>
      <li>
        <span class="text-[#095D9C]">
          <input class="" type="checkbox" /> Cable USB</span
        >
      </li>
    </ul>

    <ul class="ps-6">
      <p class="lg:text-base md:text-sm sm:text-xs text-[10px] mt-6">Marcas</p>
      <li>
        <span class=""> <input class="" type="checkbox" /> Logitech - G</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Micronics</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <ul class="ps-6">
      <p class="lg:text-base md:text-sm sm:text-xs text[10px] mt-6">Interfaz</p>
      <li>
        <span class=""> <input class="" type="checkbox" /> Bluetooht</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Cable USB</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> Cable USB C</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <ul class="ps-6">
      <p class="lg:text-base md:text-sm sm:text-xs text-[10px] mt-6">
        Iluminación
      </p>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
      <li>
        <span class=""> <input class="" type="checkbox" /> none</span>
      </li>
    </ul>

    <p class="ps-6 mt-6">Precio</p>
  </article>

  <!-- +++++++++ barra    ++++++++++ -->
  <article class="10/12">
    <div class="bg-gray-custom w-full h-auto">
      <ul class="flex md:text-xl sm:text-base text-sm">
        <li class="ms-6"><a href="#">Inicio</a> |</li>
        <li class="ms-6"><a href="#">Zona Gamer</a> |</li>
        <li class="ms-6"><a href="#">Mause</a></li>
      </ul>
    </div>

    <!-- ++++++++++   card  +++++++++++++ -->
    <div class="flex">
      <div class="pt-6 pb-12">
        <div class="pb-6 lg:text-base md:text-sm sm:text-xs text-[10px]">
          <span class="me-12 mb-4">Ordenar por</span
          ><span><i class="fa-solid fa-arrow-up-arrow-down"></i></span>
          <span class="me-12 mb-4"> Precio de menor a mayor</span>
          <span class="mb-4"> Mostrando 1 - 24 24 por pagina</span>
        </div>

        <div class="md:w-12/12 sm:w-full w-full flex justify-between pb-4">
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-semibold">
                  <span class="text-red-500 mr-2">S/. 79.90</span>
                  <span class="line-through">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-12/12 flex justify-between pb-4">
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-12/12 flex justify-between">
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
          <div class="w-4/12 relative">
            <div
              class="group xl:w-4/5 lg:w-3/3 w-full mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
            >
              <span>
                <i
                  class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
                ></i>

                <img
                  class="w-3/5 mx-auto"
                  src="../../../../assets/images/mouse.png"
                  alt="mause"
                />
              </span>
              <div
                class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
              >
                <p><strong>MAUSE GAMER CORSAIR</strong></p>
                <P>IRONCLAW RGB USB 18K DPI</P>
                <div class="font-bold">
                  <span class="mr-2">S/. 79.90</span>
                </div>
              </div>

              <div
                class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
              >
                <button
                  class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
                </button>
                <button
                  class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
                >
                  <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                  COMPRAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ++++++++barra lateral+++++++++ -->
      <aside class="flex flex-col items-center bg-[#4A5D6B] pt-6">
        <p
          class="xl:text-2xl lg:text-xl md:text-base sm:text-xs text-white text-center mb-4"
        >
          Productos sugeridos
        </p>
        <div class="w-12/12 text-sm relative mb-4">
          <div
            class="group xl:w-4/5 lg:w-3/3 w-full border-2 border-slate-600 mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
          >
            <span>
              <i
                class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
              ></i>

              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
            </span>
            <div
              class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
            >
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <div class="font-bold">
                <span class="mr-2">S/. 79.90</span>
              </div>
            </div>

            <div
              class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
            >
              <button
                class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
              </button>
              <button
                class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                COMPRAR
              </button>
            </div>
          </div>
        </div>
        <div class="w-12/12 text-sm relative">
          <div
            class="group xl:w-4/5 lg:w-3/3 w-full border-2 border-slate-600 mx-auto text-center rounded-xl hover:shadow-lg hover:shadow-gray-800"
          >
            <span>
              <i
                class="fa-sharp fa-solid fa-heart absolute text[8px] top-1 right-2 sm:text-xs sm:top-1 sm:right-4 md:text-sm md:top-2 md:md-right-10 lg:text-base lg:top-3 lg:right-12 xl:text-2xl xl:top-4 xl:right-16 text-slate-200 hover:text-red-500 group-hover:text-red-500"
              ></i>

              <img
                class="w-3/5 mx-auto"
                src="../../../../assets/images/mouse.png"
                alt="mause"
              />
            </span>
            <div
              class="text-[8px] sm:text-[10px] md:text-xs lg:text-sm xl:text-base"
            >
              <p><strong>MAUSE GAMER CORSAIR</strong></p>
              <P>IRONCLAW RGB USB 18K DPI</P>
              <div class="font-bold">
                <span class="mr-2">S/. 79.90</span>
              </div>
            </div>

            <div
              class="text-white mt-2 pb-4 font-semibold text-[8px] sm:text-[10px] md:text-[10px] lg:text-xs"
            >
              <button
                class="bg-light-blue-custom px-5 ml-1 sm:mr-0 sm:py-0 md:py-1 md:mr-0 lg:py-2 lg:mr-2 xl:mr-6 rounded-lg hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-cart-shopping"></i> AÑADIR
              </button>
              <button
                class="bg-black px-4 mt-1 sm:py-0 md:py-1 lg:py-2 rounded-lg hover:bg-blue-500"
              >
                <i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i>
                COMPRAR
              </button>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </article>
</section>
