<nav>
  <article class="w-full bg-black flex contend 3-1 ps-4 h-24">
    <div class="flex justify-evenly w-4/6 pt-4">
      <span
        ><a href="#"
          ><i class="fa-solid fa-bars text-6xl text-white pt-1"></i></a
      ></span>
      <img
        src="../../../../assets/images/logo.webp"
        alt=""
        class="w-48 h-22 pe-6"
      />
      <input
        type="text"
        placeholder="¿Que estas buscando?"
        class="w-3/5 h-16 rounded-xl bg-zinc-500 text-white text-xl"
      />
    </div>
    <div class="w-2/6 pt-4">
      <ul class="flex flex-row text-white text-center text-5xl">
        <li class="basis-1/4">
          <a href="#"><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="basis-1/4">
          <a href="#"><i class="fa-sharp fa-solid fa-bell"></i></a>
        </li>
        <li class="basis-1/4">
          <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="basis-1/4"><a href="#">PEN</a></li>
      </ul>
    </div>
  </article>
  <article class="components bg-zinc-600 w-full pt-4 pb-4 h-16">
    <ul class="flex justify-evenly text-lg">
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-16 ms-16" href="#"
          >MARCAS</a
        >
      </li>
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-16 ms-16" href="#"
          >GAMER</a
        >
      </li>
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-16 ms-16" href="#"
          >AUDIO</a
        >
      </li>
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-12 ms-12" href="#"
          >TECLADO</a
        >
      </li>
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-8 ms-8" href="#"
          >CAMARA WEB</a
        >
      </li>
      <li
        class="group block bg-zinc-600 ring-1 ring-slate-900/5 hover:bg-black hover:ring-black"
      >
        <a class="bg-slate-900/5 group-hover:text-white me-4 ms-4" href="#"
          >NUEVO PROGRESO</a
        >
      </li>
    </ul>
  </article>
</nav>
