<nav class="w-full bg-black">
  <article class="flex h-24 py-2 w-11/12 mx-auto">
    <div class="flex w-4/6">
      <span class="my-auto"
        ><a href="#"
          ><i class="fa-solid fa-bars text-5xl text-white mr-5"></i></a
      ></span>
      <img
        src="../../../../assets/images/logo.webp"
        alt=""
        class="w-40 h-auto mr-5"
      />
      <input
        type="text"
        placeholder="¿Que estas buscando?"
        class="w-full h-16 rounded-xl bg-[#333333] placeholder-white text-white text-xl my-auto pl-5"
      />
    </div>
    <div class="w-2/6 flex items-center">
      <ul class="w-full flex flex-row text-white text-center text-4xl">
        <li class="basis-1/4">
          <a href="#"><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="basis-1/4">
          <a href="#"><i class="fa-sharp fa-solid fa-bell"></i></a>
        </li>
        <li class="basis-1/4">
          <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="basis-1/4"><a href="#">PEN</a></li>
      </ul>
    </div>
  </article>
  <article class="h-16">
    <ul class="bg-[#b6b6b6] w-full h-full flex text-lg">
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white cursor-pointer"
      >
        <a class="flex items-center justify-center h-full" href="#">MARCAS</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">GAMER</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">AUDIO</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">TECLADO</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#"
          >CAMARA WEB</a
        >
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#"
          >NUEVO PROGRESO</a
        >
      </li>
    </ul>
  </article>
</nav>
