<nav class="w-full bg-white">
  <article class="flex h-24 py-2 w-12/12 mx-auto">
    <div class="flex w-4/6">
      <span class="my-auto ms-10"
        ><a href="#"
          ><i
            class="fa-solid fa-bars md:text-5xl text-[#095D9C] md:mr-5 sm:text-3xl sm:mr-1"
          ></i></a
      ></span>
      <img
        src="../../../../assets/images/logo-mkp-celeste.jpg"
        alt=""
        class="w-1/3 md:h-auto sm:h-auto md:mr-5 sm:mr-1"
      />
      <input
        type="text"
        placeholder="¿Que estas buscando?"
        class="w-full h-16 rounded-xl bg-[#333333] placeholder-white text-white text-xl my-auto pl-5 sm:pl-1 sm:text-base"
      />
    </div>
    <div class="w-2/6 flex items-center">
      <ul
        class="w-full flex flex-row text-[#095D9C] text-center md:text-4xl sm:text-2xl"
      >
        <li class="basis-1/5">
          <a href="#"><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="basis-1/5">
          <a href="#"><i class="fa-sharp fa-solid fa-bell"></i></a>
        </li>
        <li class="basis-1/5">
          <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="basis-1/5">
          <a href="#"><i class="fa-sharp fa-solid fa-heart"></i></a>
        </li>
        <li class="basis-1/5">
          <a href="#"><i class="fa-sharp fa-solid fa-circle-question"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="h-16">
    <ul
      class="bg-[#095D9C] w-full h-full flex text-lg sm:text-xs text[#095D9C]"
    >
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white cursor-pointer"
      >
        <a class="flex items-center justify-center h-full" href="#">MARCAS</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">GAMER</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">AUDIO</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#">TECLADO</a>
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#"
          >CAMARA WEB</a
        >
      </li>
      <li
        class="w-1/6 group block hover:bg-black hover:bg-[#666565] hover:text-white text-center"
      >
        <a class="flex items-center justify-center h-full" href="#"
          >NUEVO PROGRESO</a
        >
      </li>
    </ul>
  </article>
</nav>
